.product-list-grid-wrap {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .product-list-grid-wrap {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    gap: 20px;
  }
}

.card-content, .card {
  margin: 10px;
}

.card-image {
  margin-top: 10px;
}

.product-title {
    font-size: 2em;
}

.product-price {
  font-size: 16px;
  font-weight: bold;
}