.pricing-wrap {
  display: grid;
  grid-template-columns: 30% 70%;
  padding: 20px;
  width: 100%;
}

.pricing-wrap h3 {
  justify-content: left;
  display: flex;
}

.pricing-hair-wrap {
  display: grid;
  grid-template-columns: 100%;
  padding-top: 10px;
  width: 100%;
}

.pricing-decor-wrap {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  padding-top: 10px;
  gap: 5px;
  width: 100%;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .pricing-wrap {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    gap: 20px;
  }  

  .pricing-hair-wrap, .pricing-decor-wrap {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    gap: 10px;
  } 

  .pricing-wrap h3 {
    justify-content: center;
    display: flex;
  }
  
}
