.homepage-description-wrap {
  display: grid;
  grid-template-columns: 15% 65% 20%;
  padding: 20px;
  width: 100%;
}

.homepage-wording-wrap { 
  margin-left: 20px;
}

.homepage-gallery-wrap { 
  display: grid;
  grid-template-columns: 50% 50%;
  padding: 20px;
  width: 100%;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .homepage-description-wrap {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    gap: 20px;
  }
  .homepage-wording-wrap { 
    margin: 0px;
  }
  .homepage-gallery-wrap { 
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    gap: 20px;
  }
}

.blink {
  color: #333;
  animation: blink 3s linear infinite;
}
@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: .5;
  }
  100% {
    opacity: 1;
  }
}